<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <!--屏蔽子线程异常-->
    <legacyUnhandledExceptionPolicy enable="1"/>
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--游戏速度(单位:毫秒)-->
    <add key="Speed" value="200"/>


    <add key=""/>
    
    
  </appSettings>
</configuration>